.example-spacer {
    flex: 1 1 auto;
  }

  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }

  .feedback-section {
    margin-top: 50px;
  }

  .feedback-section {
  margin-top: 20px;
}

.feedback-list {
  list-style-type: none;
  padding: 0;
}

.feedback-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.feedback-content {
  font-size: 16px;
}

.feedback-date {
  font-size: 14px;
  color: #888;
}

hr {
  margin: 20px 0
}