<div mat-dialog-title>
    <h1>Feedback Form</h1>
</div>
<form [formGroup]="feedbackForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <h2 style="width:100%">Leave a feedback</h2>
        <div class="row">
            <mat-form-field appearance="outline" >
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="user_name">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label >Feedback</mat-label>
                <input matInput type="text" formControlName="body">
            </mat-form-field>
        </div>
        <div>
             <button mat-raised-button color="primary" type="submit" style="width:100%">add feedback</button>
        </div>
        <div class="feedback-section" *ngIf="feedbackList.length > 0">
            <hr>
            <h2 style="width:100%">FeedbackList</h2>
            <ul class="feedback-list">
                <li *ngFor="let feedback of feedbackList" class="feedback-item">
                    <div>
                        <div class="feedback-content">Username: {{ feedback.user_name }}</div>
                        <div class="feedback-date">Feedback: {{ feedback.body }}</div>
                    </div>
                    <div>
                        <button mat-icon-button color="warn" (click)="deleteFeedback(feedback)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>   -->
</form>